// fonts
$font-light:'MuseoSans-300';
$font-medium:'MuseoSans-500';
$font-heavy:'MuseoSans-700';

// colours
$primary-colour:#001C2D;
$secondary-colour:#308ECF;
$tertiary-colour:#EBA634;
$black:#000;
$white:#fff;
$grey:#727272;
$red:#E50A0A;
$darkgrey:#606060;
$lightgrey:#F7F7F7;
$darkyellow:#EAA532;