@import 'partials/setup';
@import 'utilities/variables';
@import 'partials/header';
@import 'partials/home';
@import 'partials/commercial';
@import 'partials/agriculture';
@import 'partials/about';
@import 'partials/contact';
@import 'partials/footer';
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500');

// Mixins

@mixin header-h1{
	font-size: 53px;
	color:$white;
	font-weight: 300;
	letter-spacing: 0.5px;
	text-align: center;
	letter-spacing: 1px;
}

@mixin header-h2{
	font-size: 51px;
	color:$secondary-colour;
	font-weight: 300;
	text-transform: capitalize;
	text-align: center;
}

@mixin header-h3{
	font-size: 30px;
	color:$tertiary-colour;
	font-weight: 300;
	text-transform: capitalize;
	text-align: center;
}


@mixin header-h5{
	font-size: 24px;
	color:$tertiary-colour; 
	font-weight: 300;
}

@mixin button{
	max-width:397px;
	max-height:57px;
	background-color:$secondary-colour;
	text-decoration: none;
	padding: 13px 59px;
	border-radius: 10px;
	font-size: 19px;
	text-transform: uppercase;
	color:$white;
	font-weight:300;
	&:hover{
		text-decoration: none;
		color: $white;
	}
}

// General Styles

body{
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	h1{
		@include header-h1;
	}
	h2{
		@include header-h2;
	}
	h3{
		@include header-h3;
	}
	h5{
		@include header-h5;
	}
}

.bttn{
	@include button;
}
