.About{
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 109px;
	padding-bottom: 138px;
	.About-wrapper{
		display: flex;
		.About-container{
			display: flex;
		    flex-direction: column;
		    align-items: flex-end;
		    margin: 0;
		    text-align: right;
		}
		.About-container-main{
			padding-right: 100px;
			p{
				color:$grey;
				margin-bottom: 27px;
			}
		}
	}
}