.About{
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 109px;
	padding-bottom: 138px;
	.About-wrapper{
		display: flex;
		.About-container{
			display: flex;
		    flex-direction: column;
		    align-items: flex-end;
		    margin: 0;
		    text-align: right;
		}
		.About-container-image{
			@include media-breakpoint-down(sm){
			    background-size: cover;
			    min-height: 312px;
			    order: 1;
			    background-repeat: no-repeat;
			}
		}
		.About-container-main{
			padding-right: 100px;
			p{
				color:$grey;
				margin-bottom: 27px;
				@include media-breakpoint-down(sm){
					width: 84%;
				}
			}
			@include media-breakpoint-down(md){
				padding-right:60px;
			}
			@include media-breakpoint-down(sm){
				padding:50px 0 0;
				margin: 0 auto;
				text-align: center;
			    display: flex;
			    flex-direction: column;
			    align-items: center;
			    margin: 0 auto;
			    font-size: 14px;
			    a{
			    	padding: 5px 30px;
			    	border-radius: 10px;
			    }
			}
		}
		@include media-breakpoint-down(lg){
			flex-direction:column;
			align-items:flex-end;
		}
	}
	@include media-breakpoint-down(md){
		padding-top:20px;
	}
	@include media-breakpoint-down(sm){
		padding: 0;
	}
}