.about{
	header{
		.header-title{
			@include media-breakpoint-down(sm){
				padding:163px 0 105px 0;
			}
		}
	}
	.about-intro{
		padding: 82px 0 70px 0;
		.about-intro-wrapper{
			margin: 0 auto;
			p{
				font-weight: 300;
			    font-size: 20px;
			    line-height: 33px;
			    text-align: center;
			}
		}
	}
	.about-skyline{
		padding: 0;
		width: 100%;
		img{
			width:100%;
		}
	}
	.about-story{
		.about-story-wrapper{
			margin: 0 auto;
			padding: 65px 0 43px 0;
			border-bottom: 2px solid $tertiary-colour;
			p{
				font-weight: 300;
			    font-size: 20px;
			    line-height: 33px;
			    text-align: center;
			}
		}
		.about-story-contact{
			padding: 70px 0;
			display: flex;
			flex-direction:column;
			align-items:center;
			p{
				font-weight: 300;
			    font-size: 29px;
			    line-height: 39px;
			    color: $primary-colour;
			    text-align: center;
			    max-width: 672px;
			    margin: 0 auto;
			    padding-bottom: 30px;
			}
			span.orange-text{
				color:$tertiary-colour;
			}
		}
	}
}