.Advantages{
	background-color: $primary-colour;
	.Advantages-container{
		padding:60px 0 10px 0;
		h2{
			color:$tertiary-colour;
		}
		.Advantages-row{
			justify-content: center;
		    align-items: center;
		    flex-direction: row;
		    text-align: center;
		    display: flex;
		    margin-top: 25px;
		    max-width: 100%;
		    .Advantages-text{
		    	min-height:220px;
		    	@include media-breakpoint-down(md){
		    		min-height: 140px;
		    	}
		    }
		    .Advantages-col-left{
		    	margin-right: 40px;
		    	@include media-breakpoint-down(md){
		    		margin-right:0;
		    	}
		    }
		    .Advantages-col-right{
		    	margin-left: 40px;
		    	@include media-breakpoint-down(md){
		    		margin-left:0;
		    	}
		    }
		    .Advantages-image{
		    	display:flex;
		    	justify-content:center;
		    	min-height:145px;
		    	.Advantages-image-lock{
		    		height:115px;
		    	}
		    	.Advantages-image-ribbon{
		    		height:130px;
		    	}
		    	.Advantages-image-key{
		    		width:170px;
		    	}
		    	@include media-breakpoint-down(md){
		    		min-height: 100px;
		    		margin-bottom: 23px;
		    		&:first-of-type{
		    			align-items:flex-end;
		    		}
		    	}
		    }
		    h5{
		    	margin-bottom: 15px !important;
		    	text-transform: capitalize;
		    	margin: 0 auto;
		    	white-space: nowrap;
		    	@include media-breakpoint-down(lg){
		    		font-size:18px;
		    	}
		    	@include media-breakpoint-down(sm){
		    		width: 100%;
		    		margin-bottom: 27px;
		    	}
		    }
		    p{
		    	color: $white;
		    	@include media-breakpoint-down(md){
		    		width: 90%;
		    		margin: 0 auto;
		    		font-size: 15px;
		    		margin-top:10px;
		    	}
		    	@include media-breakpoint-down(sm){
		    		margin-top:0;
		    	}
		    }
		    @include media-breakpoint-down(md){
		    	margin: 0 auto;
		    	width: 100%;
		    	.Advantages-block{
		    		margin-bottom: 55px;
		    	}

		    }
		}
	}
}