.Advantages{
	background-color: $primary-colour;
	display: none;
	.Advantages-container{
		padding:80px 0 70px 0;
		h2{
			color:$tertiary-colour;
		}
		.Advantages-row{
			justify-content: center;
		    align-items: center;
		    flex-direction: row;
		    text-align: center;
		    display: flex;
		    margin-top: 45px;
		    .Advantages-col-left{
		    	margin-right: 40px;
		    }
		    .Advantages-col-right{
		    	margin-left: 40px;
		    }
		    .Advantages-image{
		    	display:flex;
		    	justify-content:center;
		    	height:200px;

		    }
		    h5{
		    	margin-bottom: 25px;
		    }
		    p{
		    	color: $white;
		    }
		}
	}
}