.Advantages{
	background-color: $primary-colour;
	.Advantages-container{
		padding:80px 0 70px 0;
		h2{
			color:$tertiary-colour;
		}
		.Advantages-row{
			justify-content: center;
		    align-items: center;
		    flex-direction: row;
		    text-align: center;
		    display: flex;
		    margin-top: 45px;
		    .Advantages-col-left{
		    	margin-right: 40px;
		    	@include media-breakpoint-down(sm){
		    		margin-right:0;
		    	}
		    }
		    .Advantages-col-right{
		    	margin-left: 40px;
		    	@include media-breakpoint-down(sm){
		    		margin-left:0;
		    	}
		    }
		    .Advantages-image{
		    	display:flex;
		    	justify-content:center;
		    	height:200px;
		    	@include media-breakpoint-down(sm){
		    		height: 160px;
		    		margin-bottom: 15px;
		    	}

		    }
		    h5{
		    	margin-bottom: 25px;
		    }
		    p{
		    	color: $white;
		    	@include media-breakpoint-down(sm){
		    		width: 90%;
		    		margin: 0 auto;
		    	}
		    }
		    @include media-breakpoint-down(sm){
		    	.Advantages-block{
		    		margin-bottom: 37px;
		    	}

		    }
		}
	}
}