.contact{
	header{
		.header-title{
			@include media-breakpoint-down(sm){
				padding:163px 0 105px 0;
			}
		}
	}
	.contact-wrapper{
		.contact-wrapper-form{
			padding-top: 100px;
			margin: 0 auto;
			border-bottom: 2px solid $tertiary-colour;
			padding-bottom: 60px;
			.contact-text{
				h5{
					line-height: 28px;
					margin-bottom: 20px;
				}
				p{
					color:$grey;
					font-size: 18px;
				    font-weight: 300;
				    line-height: 25px;
				}
			} 
			form{
				background-color:$primary-colour;
				padding:40px 0 80px 40px;
				label{
					color:$white;
				    font-weight: 400;
				    font-size: 16px;
				    letter-spacing: 0.5px;
				    margin-bottom: 0;
				}
				.notes{
					margin-bottom: 12px;
				}
				input{
					margin-top: 11px;
					margin-bottom: 25px;
					width:307px;
				}
				input[type="submit"]{
					max-width: 149px;
				    display: flex;
				    justify-content:center;
				    color: white;
				    background-color: #308ECF;
				    border: none;
				    border-radius: 10px;
				    padding: 13px 45px;
				    text-transform: uppercase;
				    font-size: 18px;
				    font-weight: 500;
				    letter-spacing: 1px;
				    margin-top: 45px;
				}
			}
			.contact-text-secondary{
				margin-top: 60px;
				p{
					line-height: 25px;
				}
				span.blue-text{
					color: $secondary-colour;
				}
				a:hover{
					text-decoration: none;
				}
			}
		}
		.About{
			background-image:url('../../assets/agriculture-panels.png');
			margin-top: 50px;
			.orange-text{
				color:$tertiary-colour;
				text-transform: uppercase;
				font-size: 29px;
				line-height: 39px;
			}
		}
	}
}