.Features{
	.Features-container{
		display: flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		align-self:center;
		padding-top: 112px;
		padding-bottom: 204px;
		@include media-breakpoint-down(sm){
			padding: 22px 0 35px 0;
		}
		.Features-row{
			display: flex;
			flex-direction: row;
			justify-content: center;
			&:not(:last-of-type){
				margin-bottom: 56px;
				@include media-breakpoint-down(sm){
					margin-bottom: 20px;
				}
			}
			&:last-of-type{
				padding-bottom: 61px;
				@include media-breakpoint-down(sm){
					padding-bottom: 23px;
				}
			}
			.Features-col-left{
				display: flex;
			    flex-direction: column;
			    align-items: flex-end;
			    text-align: right;
			    margin-right: 35px;
			    @include media-breakpoint-down(sm){
			    	margin-right:0;
			    	align-items:center;
			    }
			}
			.Features-col-right{
				display: flex;
			    flex-direction: column;
			    align-items: flex-start;
			    text-align: left;
			    margin-left: 35px;
			    @include media-breakpoint-down(sm){
			    	margin-left:0;
			    	align-items:center;
			    }
			}
			.Features-col{
				@include media-breakpoint-down(sm){
					text-align: center;
					img{
						max-width:100px;
					}
				}
			}
			.Features-order-0{
				@include media-breakpoint-down(sm){
					order: 0;
					margin-top: 15px;
					width: 95%;
				}
			}
			.Features-order-1{
				@include media-breakpoint-down(sm){
					order: 1;
					margin-top: 15px;
					width: 95%;
				}
			}
			@include media-breakpoint-down(sm){
				h5{
					font-size: 19px;
				}
				p{
					font-size: 14px;
					line-height: 19px;
				}
			}
		}
	}
}

.home .Features{
	.Features-container{
		padding-bottom: 50px;
	}
}