footer{
	background-color:$primary-colour;
	.footer-links-wrapper{
		padding: 78px 0 43px 0;
		h4{
			text-align: center;
		}
		.footer-links{
			display: flex;
			align-items:center;
			margin: 0 auto;
			border-bottom:2px solid $tertiary-colour;
			padding-bottom: 60px;
			.footer-links-left,.footer-links-right{
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
		.footer-contact{
			display: flex;
			flex-direction: row;
			margin: 0 auto;
			.footer-contact-list ul{
				font-family:$mobile-font;
				font-size: 14px;
				list-style-type: none;
				color:$tertiary-colour;
				line-height: 25px;
			}
		}
	}
}

.footer-large{
	.footer-links-wrapper{
		h4{
			margin-bottom: 30px;
		}
		.footer-links{
			padding-bottom: 65px;
			@include media-breakpoint-down(sm){
				flex-direction:column;
				.footer-links-left{
					margin-bottom:55px;
					font-family:$mobile-font;
				}
			}
		}
		.footer-contact{
			padding: 80px 0 140px 0;
			@include media-breakpoint-down(md){
				.footer-contact-logo{
					display: flex;
					justify-content:center;
					align-items:flex-start;
					padding-bottom: 25px;
				}
			}
			@include media-breakpoint-down(sm){
				flex-direction:column;
				padding: 25px 0 0 0;
				.footer-contact-list{
					order:1;
					text-align: center;
					ul{
						padding: 0;
					}
					li{
						color:$tertiary-colour;
					}
				}
			}
		}
		@include media-breakpoint-down(sm){
			padding: 78px 0 23px 0;
		}
	}
}