footer{
	background-color:$primary-colour;
	.footer-links-wrapper{
		padding: 78px 0 43px 0;
		h4{
			text-align: center;
		}
		.footer-links{
			display: flex;
			align-items:center;
			margin: 0 auto;
			border-bottom:2px solid $tertiary-colour;
			padding-bottom: 60px;
			.footer-links-left,.footer-links-right{
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
		.footer-contact{
			display: flex;
			flex-direction: row;
			margin: 0 auto;
			.footer-contact-list ul{
				font-weight: 300;
				font-size: 14px;
				list-style-type: none;
				color:$tertiary-colour;
				line-height: 25px;
			}
		}
	}
}

.footer-large{
	.footer-links-wrapper{
		padding-top: 67px;
		h4{
			margin-bottom: 30px;
		}
		.footer-links{
			padding-bottom: 65px;
		}
		.footer-contact{
			padding: 120px 0 100px 0;
		}
	}
}