// general header styles
.header-nav{
	display: flex;
	justify-content:space-between;
	background-color: $primary-colour;
	position: fixed;
	width: 100%;
	z-index: 9999;
	@include media-breakpoint-down(lg){
		position: relative;
	}
	.logo-image{
		max-width: 184px;
		max-height: 72px;
		margin-top: 23px;
		margin-left: 43px;
		margin-bottom: 27px;
		@include media-breakpoint-down(lg){
			max-width: 140px;
		    max-height: 55px;
		    margin-left: 20px;
		    margin-bottom: 27px;
		}
	}
	.nav-items{
		padding: 0;
		margin-right: 94px;
		margin-bottom: 0;
		list-style-type: none;
		display: flex;
		width: 60%;
		justify-content: flex-end;
		font-weight: 500;
		text-transform: capitalize;
		align-items:center;
		li a{
			text-decoration: none;
			color:$white;
			font-size:16px;
			letter-spacing: 1px;
			margin: 0 25px;
			&.active{
				color:#EAA532;
			}
		}
		@include media-breakpoint-down(lg){
			display: none;
		}
	}
	.btn-group{
		display: none;
		.dropdown-button{
			padding: 0;
			font-size: 30px;
			position: absolute;
			right: 50px;
			top: 31px;
			border:none;
			background-color:transparent;
			.fas{
				color: white;
			}
			&:after{
				content: none;
			}
		}
		@include media-breakpoint-down(lg){
			display: block;
		}
	}
	.btn-group.show{
		max-height: 104px;
	}
	.dropdown-menu{
		position: relative;
		right: 0;
		top: 90px;
		margin: 0;
		border-radius: 0;
		background-color:$primary-colour;
		max-width: 215px;
		a{
			color: $white;
			font-size: 19px;
			font-weight: 500;
			padding-top: 55px;
			text-align: right;
			&:last-of-type{
				padding-bottom: 55px;
			}
		}
		.dropdown-item.active{
			background-color:$primary-colour;
		}
		a.active-button:hover{
			background-color:transparent;
		}
	}
}
header{
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
	.header-title{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 280px 0 165px 0;
		h1{
			text-transform: uppercase;
			margin-bottom: 55px;
		}
		.header-buttons{
			letter-spacing: 0.5px;
			a:hover{
				text-decoration: none;
				color:$white;
			}
		}
		@include media-breakpoint-down(md){
			h1{
				font-size: 37px;
			}
			.header-buttons {
				display: flex;
				a{
					width: 100%;
					text-align: center;
				    padding: 10px 27px;
				    align-items: center;
				    display: flex;
				    border-radius: 15px;
				    font-size: 14px;
					font-weight: 500;
				}
			}
		}
	}
}

// home page header styles
.home{
	header{
		background-image:url('../../assets/home-hero.jpg');
		.header-title{
			@include media-breakpoint-down(md){
				padding-top: 140px;
				h1{
					margin-bottom: 40px;
				}
			}
			.header-buttons{
				a:first-of-type{
					margin-right: 20px;
				}
				a:last-of-type{
					margin-left: 20px;
				}
				@include media-breakpoint-down(lg){
					a:first-of-type{
						margin-right: 15px;
					}
					a:last-of-type{
						margin-left: 15px;
					}
				}
			}
		}
	}
}

// commercial,agriculture,contact,about general header styles
.commercial,.agriculture,.about,.contact{
	header{
		.header-title{
			h1{
				text-transform: capitalize;
			}
		}
	}
}

// commercial header styles
.commercial{
	header{
		background-image:url('../../assets/commercial-hero.jpg');
	}
}

// agriculture header styles
.agriculture{
	header{
		background-image:url('../../assets/agriculture-hero.jpg');
	}
}

// about header styles
.about{
	header{
		background-image:url('../../assets/about-hero.jpg');
	}
}

// contact header styles
.contact{
	header{
		background-image:url('../../assets/contact-hero.jpg');
	}
}