header{
	nav{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color:$primary-colour;
		.logo-image{
			max-width: 184px;
			max-height: 72px;
			margin-top: 23px;
			margin-left: 43px;
			margin-bottom: 37px;
		}
		.nav-items{
			padding: 0;
			margin-right: 94px;
			list-style-type: none;
			display: flex;
			width: 37%;
			justify-content: space-evenly;
			font-weight: 500;
			text-transform: capitalize;
			align-items:center;
			li a{
				text-decoration: none;
				color:$white;
				font-size:16px;
				letter-spacing: 1px;
				&.active{
					color:#EAA532;
				}
			}
		}
	}
}