[id="home"]{
	header{
		background-image:url('../../assets/home-hero.jpg');
		.header-title{
			display: flex;
			flex-direction: column;
			align-items: center;
			transform: translate(0%, 195%);
			h1{
				text-transform: uppercase;
				margin-bottom: 55px;
			}
			.header-buttons{
				letter-spacing: 0.5px;
				a:first-of-type{
					margin-right: 20px;
				}
				a:last-of-type{
					margin-left: 20px;
				}
				a:hover{
					text-decoration: none;
					color:$white;
				}
			}
		}
	}
	[id="home-whySolar"]{
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    min-height: 709px;
	    padding-top: 247px;
	    .home-whySolarBg{
	    	background-image: url('../../assets/home-building.png');
	    	background-size: cover;
    	    background-repeat: no-repeat;
    	    max-height: 710px;
    	    background-position: 100% 100%;
    	    display: flex;
	        flex-direction: column;
	        justify-content: center;
	        align-items: center;
	    }
		.home-whySolar-text-wrapper{
			margin: 52px 0 90px 0;
			h2{
				color:$secondary-colour;
				margin: 0 0 32px 0;
			}
			h3{
				margin: 0 0 31px 0;
			}
			p{
				font-size: 21px;
				font-weight: 300;
				text-align: center;
			}
		}
		.home-whySolar-calculator{
			background-color:#F7F7F7;
			width: 739px;
			height: 403px;
		}
	}
}