@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: #001C2D; }
  .header-nav .logo-image {
    max-width: 184px;
    max-height: 72px;
    margin-top: 23px;
    margin-left: 43px;
    margin-bottom: 27px; }
  .header-nav .nav-items {
    padding: 0;
    margin-right: 94px;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    width: 37%;
    justify-content: space-evenly;
    font-weight: 500;
    text-transform: capitalize;
    align-items: center; }
    .header-nav .nav-items li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      letter-spacing: 1px; }
      .header-nav .nav-items li a.active {
        color: #EAA532; }

header {
  background-size: cover;
  background-repeat: no-repeat;
  height: 88vh;
  background-position: 100% 100%; }

[id="home"] header {
  background-image: url("../../assets/home-hero.jpg"); }
  [id="home"] header .header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0%, 195%); }
    [id="home"] header .header-title h1 {
      text-transform: uppercase;
      margin-bottom: 55px; }
    [id="home"] header .header-title .header-buttons {
      letter-spacing: 0.5px; }
      [id="home"] header .header-title .header-buttons a:first-of-type {
        margin-right: 20px; }
      [id="home"] header .header-title .header-buttons a:last-of-type {
        margin-left: 20px; }
      [id="home"] header .header-title .header-buttons a:hover {
        text-decoration: none;
        color: #fff; }

[id="home"] [id="home-whySolar"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 709px;
  background-image: url("../../assets/home-building.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%; }
  [id="home"] [id="home-whySolar"] .home-whySolarBg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px; }
  [id="home"] [id="home-whySolar"] .home-whySolar-text-wrapper {
    margin: 59px 0 90px 0; }
    [id="home"] [id="home-whySolar"] .home-whySolar-text-wrapper h2 {
      color: #308ECF;
      margin: 0 0 32px 0; }
    [id="home"] [id="home-whySolar"] .home-whySolar-text-wrapper h3 {
      margin: 0 0 31px 0; }
    [id="home"] [id="home-whySolar"] .home-whySolar-text-wrapper p {
      font-size: 21px;
      font-weight: 300;
      text-align: center; }
  [id="home"] [id="home-whySolar"] .home-whySolar-calculator {
    background-color: #606060;
    max-width: 739px;
    max-height: 403px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    [id="home"] [id="home-whySolar"] .home-whySolar-calculator h4 {
      color: #001C2D;
      letter-spacing: 0.5px;
      font-weight: 300;
      text-align: center;
      margin: 58px 0 40px 0; }
    [id="home"] [id="home-whySolar"] .home-whySolar-calculator input {
      max-width: 252px;
      width: 100%;
      height: 46px;
      border-radius: 10px;
      border: none;
      font-size: 25px;
      text-align: center;
      color: #001C2D;
      outline: none; }
    [id="home"] [id="home-whySolar"] .home-whySolar-calculator .home-range-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 33px; }
      [id="home"] [id="home-whySolar"] .home-whySolar-calculator .home-range-wrapper .home-range {
        max-width: 600px; }
      [id="home"] [id="home-whySolar"] .home-whySolar-calculator .home-range-wrapper p {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        font-weight: 300;
        font-size: 17px;
        color: #001C2D;
        padding-top: 25px; }
    [id="home"] [id="home-whySolar"] .home-whySolar-calculator .home-range-title {
      margin-bottom: 0; }
    [id="home"] [id="home-whySolar"] .home-whySolar-calculator p.home-range-result {
      font-weight: 700;
      font-size: 46px;
      color: #E50A0A; }

body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto; }
  body h1 {
    font-size: 53px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    letter-spacing: 1px; }
  body h2 {
    font-size: 51px;
    color: #308ECF;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center; }
  body h3 {
    font-size: 30px;
    color: #EBA634;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center; }
  body h5 {
    font-size: 24px;
    color: #EBA634;
    font-weight: 300; }

.bttn {
  max-width: 397px;
  max-height: 57px;
  background-color: #308ECF;
  text-decoration: none;
  padding: 13px 59px;
  border-radius: 10px;
  font-size: 19px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300; }
